</div><!-- /.container -->

<div class="map-wrapper">
	<h3 class="no-mt text-center" style="margin-bottom: 2rem;">Our Location</h3><!-- /.no-mt -->

	<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0229024021!2d106.77942751412661!3d-6.260713363035826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1a8713ce207%3A0x2c3ea1f4a28bfac5!2sHacktiv8+Indonesia!5e0!3m2!1sen!2sid!4v1510128789805' width='600' height='450' frameborder='0' style='border:0' allowfullscreen></iframe></div>
</div><!-- /.container-fluid -->

<script src="/jquery.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
<script src="/scripts.js"></script>
</body>
</html>