<%- include('partials/header', {title: 'Index'})  %>

<main class="content">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">Selamat Datang di Website DailyCleanUP.com</h3>
			<p>DailyCleanUP adalah Perusahaan yang bergerak dibidang Jasa Bersih-Bersih atau Jasa Cleaning Service Panggilan. Kami melayani jasa bersih kost, jasa bersih rumah, apartement, kantor, ruko, villa dan taman dengan harga terjangkau yang tersebar di kota-kota besar seperti Solo, Jogja, Semarang, Malang, Jakarta, Bali dan Surabaya. Tim kami terlatih dan profesional terverifikasi dan terpercaya. DailyCleanUP berkomitmen untuk memberikan layanan kualitas terbaik dan menjadi Cleaning Service Panggilan</p>
		</div><!-- /.col-md-12 -->
		<br /><br /><br /><br />

		<div class="col-md-12 text-center">
			<a href="/login" class="btn btn-lg btn-info">Mulai gunakan jasa kami</a>
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
</main><!-- /.content -->

<%- include('partials/extra-info') %>