<%- include('partials/header', {title: 'Index'})  %>

<main class="content">
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="/login" class="btn btn-lg btn-info">Mulai gunakan jasa kami</a>
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
</main><!-- /.content -->

<%- include('partials/footer') %>