<%- include('partials/header', {title: 'Your Order'})  %>

<main class="content">
	<div class="row">
		<div class="col-md-12">

			<table class="table">
				<thead>
					<tr>
						<th>Nama Worker</th>
						<th>Waktu Pemesanan</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Andi Tsung</td>
						<td>22/11/2017</td>
						</td>
						<td><a href="/test/user/order-complete">Order selesai</a></td>
					</tr>

					<tr>
						<td>Jenna Kow</td>
						<td>23/11/2017</td>
						<td>Selesai</td>
					</tr>

					<tr>
						<td>John Mcronald</td>
						<td>24/11/2017</td>
						<td><a href="/test/user/order-complete">Order selesai</a></td>
					</tr>
				</tbody>
			</table>

		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
</main><!-- /.content -->

<%- include('partials/footer') %>