<%- include('partials/header', {title: 'Index'})  %>

<main class="content">
	<div class="row">
		<div class="col-md-12">

			<h3 class="no-mt">TEST</h3><!-- /.no-mt -->

		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
</main><!-- /.content -->

<%- include('partials/footer') %>