<%- include('partials/header', {title: 'Top Workers'})  %>

<main class="content">
	<div class="row">
		<div class="col-md-12">

			<table class="table">
				<thead>
					<tr>
						<th>Nama Worker</th>
						<th>Rating</th>
					</tr>
				</thead>
				<tbody>
					<% allWorker.forEach(worker => {%>
					<tr>
						<td><%= worker.fullname %></td>
						<td>
							<div class="rating-star">
							<% for (let i =0 ; i< worker.averagerating ; i++) {%>		
								<i class="fa fa-star"></i> 
							<% } %>
							</div>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
</main><!-- /.content -->

<%- include('partials/footer') %>