body {
	background: url('images/main-bg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}

.main-header {
	color: white;
	padding: 2rem 0;
	background: #00acc1;
}

.content {
	padding: 2rem;
	background: rgba(255, 255, 255, 0.8);
}

.map-wrapper {
	margin-top: 2rem;
	padding: 2rem 0 0 0;
	background: rgba(255, 255, 255, 0.8);
}

	.main-title {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	.main-title a{
		color: #fff;
		text-decoration: none;
	}

	.sub-title {
		margin-bottom: 0;
	}

	.main-title a:hover {
		font-weight: bold;
	}

	.content {
		margin-top: 1rem;
	}

.simple-form .input-group{
	width: 100%;
	margin-bottom: 1rem;
}

.no-mt{
	margin-top: 0;
}

.rating-star .fa {
	color: orange;
}